p { color: blue; font-weight: bold; }

p strong {font-weight: normal; padding: 50px;}
li { color: turquoise }
html {font-family: sans-serif; background-color: pink;}
span {background-color: azure;}
/* select all html tags that have a class highlight_01 */
.highlight_01 { background-color: azure; }
.highlight_02 { background-color: rgb(255, 204, 0); }
.highlight_03 { background-color: rgb(244, 244, 198); }
#pink-huge {width: 100px}
#pink-medium {width: 50px;}
#pink-small {width: 25px;}

.test-div { background: lemonchiffon; margin: 30px; padding: 40px; }
.my-flex {display: flex;}   
li{color: cornflowerblue;}  
li.bestfriends{color: pink}
li.enemies{color: purple}
#funfont{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
#boringfont{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}